

body {
  background-color: black;
  color: #ffffff;
  width: 65%;
  font-size: 15px;
  margin-left: 50px;
}

h1 {
  color: #e60000;
  font-size: 4.5rem;
  text-shadow: 10px 20px #ff9900;
  width: 100%;
  margin-left: 275px
}

h2 {
  color: #e600e6;
  font-size: 2.75rem
}

h3, h4, h5 {
  color: #ff9900;
  font-size: 2rem
}

a[href="#"] {
  font-size: 1.5rem;
  color: #ff9933;

}

a[href="./about-me.html"] {
    font-size: 1.5rem;
    color: #ff9933;
}

a[href="https://sophiagts.github.io/semantic-elements/"] {
  font-size: 1.5rem;
  color: #ff9933;

}

a[href="./index.html"] {
  font-size: 1.5rem;
  color: #ff9933;
}

p {
  text-align: justify;
}

.green-text {
  color: #7CfC00
}

.pfont-size {
  font-size: 1.1rem
}

img {
  border-style: solid;
  border-bottom-color: #cc0000;
  border-left-color: #ffd700;
  border-right-color: #3399ff;
  border-top-color: #9966ff;
  border-width: 10px;
  width: 43%;
 }
