
* {
  box-sizing: border-box;
}

body {
  background-color: #A3BCB6;
  color: ##3C403D;
  font-size: 16px;
  font-family:'Alegreya Sans', sans-serif;
}

header{
  background-color: #39603D;
  padding: 2%;
}

h1 {
  color: black;
  font-size: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  font-size: 1.2rem;
  color: black;
}

nav li{
  margin-right: 20px;
}

 nav a {
   color: black;
   text-decoration: none;
   text-transform: uppercase;
 }

 nav a:hover {
   color: white;
 }

h2 {
  color: #3C403D;
  font-size: 2.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

}


.container-1{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.container-1 div, .container-2 div{
  /*border:1px #ccc solid;
  padding:10px;*/

}

.container-1-box{
  width: 32.25%;
}

.container-2{
  display: flex;
  justify-content: center;
}

.container-2-box{
  width: 32.25%;
}

section a{
  color: #39603D;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

section a:hover{
  color: white;
}

h3, h4, h5 {
  color: #39603D;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

p {
  color: #3C403D;
  font-size: 1.1rem;
  text-align: justify;
}

img {
  border-style: solid;
  /*border-color: #9966ff #3399ff #cc0000 #ffd700;*/
  border-color: #39603D;
  border-width: 10px;
  width: 100%;

 }


 footer {
   position: absolute;
   width: 100%;
   color: black;
   display: flex;
   justify-content: center;
 }

 footer ul {
   list-style: none;
   font-size: 1rem;
   color: black;
   display: flex;
   flex-direction: row;

 }

 .facebook{
   color: blue;
   font-size: 50px;
 }

 .instagram{
   color: purple;
   font-size: 50px;
   margin-left: 30px;
 }
